.dark {
    background-color: #282039;
    transition: 0.7s;
    color: #fff;
}
.dark nav,
.dark section aside,
.dark section article,
.dark footer {
    background-color: #231e31;
    color: rgba(255, 255, 255, 0.872);
    transition: 0.7s;
}
.dark nav a,
.dark nav button {
    color: rgba(255, 255, 255, 0.881);
}

.dark .clock {
    background:#231e31 url("../imgs/roman-dark.png") no-repeat right top;
    background-size: cover;
    border: 10px solid #231e31;
    box-shadow: -5px -5px 10px rgba(184, 170, 192, 0.21),
                inset 5px 5px 10px rgba(0, 0, 0, 0.4),
                inset -5px -5px 10px rgba(114, 92, 125, 0.339),
                5px 5px 20px rgba(0, 0, 0, 0.433);
}
.dark .hr:before,
.dark .min:before {
    background-color: rgba(255, 255, 255, 0.828);
}


/*
    Glassmorphism dark
*/
.dark article[data-theme="glassmorphic"] .clock {
    background:#231e31be url("../imgs/roman-dark.png") no-repeat right top;
    background-size: cover;
    box-shadow: 10px 20px 40px rgba(0, 0, 0, 0.339);
}


/*
    Minimalist dark
*/
.dark article[data-theme="minimalist"] .clock {
    background:  #2f2944;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.16);
}
.dark article[data-theme="minimalist"] .clock .hr:before,
.dark article[data-theme="minimalist"] .clock .min:before {
    background-color: #fff;
}