.dark {
    background-color: #2a2639;
    transition: 0.7s;
    color: #fff;
}
.dark nav,
.dark section aside,
.dark section article,
.dark footer {
    background-color: #2c283a;
    color: rgba(255, 255, 255, 0.872);
    transition: 0.7s;
}
.dark nav a,
.dark nav button {
    color: rgba(255, 255, 255, 0.881);
}

.dark .clock {
    background:#2c283a url("../imgs/roman-dark.png") no-repeat right top;
    background-size: cover;
    border: 10px solid #2c283a;
    box-shadow: -5px -5px 10px rgba(184, 170, 192, 0.21),
                inset 5px 5px 10px rgba(0, 0, 0, 0.443),
                inset -5px -5px 10px rgba(114, 92, 125, 0.339),
                2px 2px 4px rgba(0, 0, 0, 0.433);
}
.dark .hr:before,
.dark .min:before {
    background-color: rgba(255, 255, 255, 0.828);
}


/*
    Glassmorphism dark
*/
.dark article[data-theme="glassmorphism"] .clock {
    background:#2c283abe url("../imgs/roman-dark.png") no-repeat right top;
    background-size: cover;
    box-shadow: 10px 20px 40px rgba(0, 0, 0, 0.339);
}


/*
    Minimalist dark
*/
.dark article[data-theme="minimalist"] .clock {
    background:  #2f2944;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.16);
}
.dark article[data-theme="minimalist"] .clock .hr:before,
.dark article[data-theme="minimalist"] .clock .min:before {
    background-color: #fff;
}



/*
    Alarm dark
*/
article[data-theme="alarm"] .clock .hr::before,
article[data-theme="alarm"] .clock .min::before {
    background-color: rgba(255, 255, 255, 0.872);
}

.dark footer .social li a .fab {
    border-color: rgba(153, 153, 153, 0.82);
    color: rgba(153, 153, 153, 0.813);
}