.social{
    position: absolute;

    /* top: 50%;*/
    left: 50%; 
    
    transform:translate(-50% , -50%);
    margin: 0;
    padding: 0;
    display: flex;
    
} 
.social li{
    list-style: none;
}
.social li a{
    position: relative;
    width: 50px;
    height: 50px;
    display: block;
    text-align: center;
    margin: 0 10px;
    border-radius: 50%;
    text-decoration: none;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.3);
    background: linear-gradient(0deg , #fff, #ddd);
    transition: 0.5s;
}
.social li a:hover{
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    text-decoration: none;
}
.social li a .fab{
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(0deg, #fff , #ddd);
    border-radius: 50%;
    line-height: calc(60px - 12px);
    font-size: 24px;
    color:#262626;
    transition: 0.5s;
}
p{
    position: relative;
    top: 20px;
}



a{
    text-decoration: none;
    
    
    
}