/* 
    Glasmorphism
*/

article[data-theme="glassmorphism"] {
    position: relative;
    overflow: hidden;
}

article[data-theme="glassmorphism"] .clock {
    background: #ffffff6c url("../imgs/roman.png") no-repeat right top;
    background-size: cover;
    box-shadow: 10px 20px 40px rgba(0, 0, 0, 0.162);
    border: none;
    backdrop-filter: blur(2px);
    z-index: 100;
}

article[data-theme="glassmorphism"]:before,
article[data-theme="glassmorphism"]:after {
    content: "";
    position: absolute;
    transform: translate(-100px, -100px);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: linear-gradient(45deg, rgb(255, 25, 0), rgb(255, 221, 0));
    animation: 4s move1 linear infinite;
}

article[data-theme="glassmorphism"]:after {
    background: linear-gradient(45deg, rgb(234, 0, 113), rgb(47, 0, 255));
    transform: translate(150px, 0px);
    animation: 6s move2 ease-in infinite;
}

@keyframes move1 {
    0% {
        transform: translate(-100px, -100px);
    }

    50% {
        transform: translate(-100px, -150px);
    }

    100% {
        transform: translate(-100px, -100px);
    }
}

@keyframes move2 {
    0% {
        transform: translate(150px, 0);
    }

    50% {
        transform: translate(100px, 0px);
    }

    100% {
        transform: translate(150px, 0px);
    }
}





/*
    Vintage
*/

article[data-theme="vintage"] .clock {
    border: 10px solid #381914;
    background: url("../imgs/roman-gold.png") left top no-repeat, url("../imgs/vintage.jpg") right bottom no-repeat;
    background-size: cover;
    box-shadow: 5px 5px 20px rgba(10, 10, 10, 0.307);
}

article[data-theme="vintage"] .clock .hr:before,
article[data-theme="vintage"] .clock .min:before {
    background-color: yellow;
}



/*
    Futuristic
*/

article[data-theme="futuristic"] .clock {
    border: 10px solid #231e31;
    background: url("../imgs/roman-dark.png") left top no-repeat, url("../imgs/futuristic.webp") right bottom no-repeat;
    background-size: cover;
}

article[data-theme="futuristic"] .clock .hr:before,
article[data-theme="futuristic"] .clock .min:before {
    background-color: rgba(255, 255, 255, 0.981);
}


/*
    Abstract
*/

article[data-theme="abstract"] .clock {
    border: 10px solid #4a0707;
    background: url("../imgs/roman-dark.png") left top no-repeat, url("../imgs/abstract.webp") right bottom no-repeat;
    background-size: cover;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.285);
}

article[data-theme="abstract"] .clock .hr:before,
article[data-theme="abstract"] .clock .min:before {
    background-color: rgba(255, 255, 255, 0.981);
}



/*
    Wooden
*/

article[data-theme="wooden"] .clock {
    background: url("../imgs/roman-gold.png") left top no-repeat, url("../imgs/wood.webp") right bottom no-repeat;
    background-size: cover;
    border: 10px solid rgb(74, 37, 12);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.285);
}

article[data-theme="wooden"] .clock .hr:before,
article[data-theme="wooden"] .clock .min:before {
    background-color: rgba(255, 255, 255, 0.981);
}



/*
    Minimalist
*/

article[data-theme="minimalist"] .clock {
    background: #fff;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.098);
}

article[data-theme="minimalist"] .clock .hr:before,
article[data-theme="minimalist"] .clock .min:before {
    background-color: #000;
}




/*
    Neon
*/

article[data-theme="neon"] .clock {
    background: url("../imgs/roman-neon.png") left top no-repeat;
    background-size: cover;
    border: 10px solid rgba(255, 0, 242, 0.657);
    border-color:rgb(169, 8, 255);
    filter: hue-rotate(120deg);
    animation: switchColorForFrame 20s linear infinite;
    box-shadow: 5px 5px 50px rgba(188, 4, 255, 0.285);
}

article[data-theme="neon"] .clock .hr:before,
article[data-theme="neon"] .clock .min:before {
    background-color: #000;
}

article[data-theme="neon"] .clock:before,
article[data-theme="neon"] .clock .hr:before,
article[data-theme="neon"] .clock .min:before,
article[data-theme="neon"] .clock .sec:before {
    background-color: rgb(255, 8, 239);
    animation: switchColor 20s linear infinite;
    box-shadow: 3px 3px 6px rgba(188, 4, 255, 0.534);
}

@keyframes switchColor {
    20% {
        background-color: rgb(255, 8, 239);
    }

    40% {
        background-color: rgb(255, 8, 107);
    }

    60% {
        background-color: rgb(169, 8, 255);

    }

    80% {
        background-color: rgb(230, 8, 255);
    }

    100% {
        background-color: rgb(255, 8, 239);
    }
}

@keyframes switchColorForFrame {
    20% {
        border-color: rgb(255, 8, 239);
        filter: hue-rotate(300deg);
    }

    40% {
        border-color: rgb(255, 8, 107);
        filter: hue-rotate(50deg);

    }

    60% {
        border-color: rgb(169, 8, 255);
        filter: hue-rotate(300deg);

    }

    80% {
        border-color: rgb(230, 8, 255);
        filter: hue-rotate(140deg)
    }

    100% {
        border-color: rgb(255, 8, 239);
        filter: hue-rotate(300deg);
    }
}



/* 
    ENDLESS 
*/

article[data-theme="endless"] .clock {
    border: 10px solid #231e31;
    background: url("../imgs/enless.webp") bottom no-repeat;
    background-size: cover;
}

article[data-theme="endless"] .clock .hr:before,
article[data-theme="endless"] .clock .min:before {
    background-color: rgba(255, 255, 255, 0.981);
}





/* 
    Electric
 */

article[data-theme="electric"] .clock {
    border: 10px solid #231e31;
    background: url("../imgs/roman-dark.png") left top no-repeat, url("../imgs/electric.webp") right bottom no-repeat;
    background-size: cover;
}

article[data-theme="electric"] .clock .hr:before,
article[data-theme="electric"] .clock .min:before {
    background-color: rgba(255, 255, 255, 0.981);

}



/*
    THOR
*/

article[data-theme="thor"] .clock {
    border: 10px solid #231e31;
    background: url("../imgs/thor.webp") left top no-repeat;
    background-size: cover;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.285);
}

article[data-theme="thor"] .clock .hr:before,
article[data-theme="thor"] .clock .min:before {
    background-color: rgba(255, 255, 255, 0.981);
}




/* 
    doughnut 
*/
article[data-theme="doughnut"] .clock {

    background: url("../imgs/doughnut.png") center no-repeat;
    background-size: cover;
    border: 1px solid rgba(0, 0, 0, 0.395);
}

article[data-theme="doughnut"] .clock .hr:before,
article[data-theme="doughnut"] .clock .min:before {
    background-color: #000;
}

article[data-theme="doughnut"] .clock:before,
article[data-theme="doughnut"] .clock .hr:before,
article[data-theme="doughnut"] .clock .min:before,
article[data-theme="doughnut"] .clock .sec:before {
    background-color: rgb(255, 115, 8);
    box-shadow: 3px 3px 6px rgba(188, 4, 255, 0.534);

}



/*
    Black'n'White
*/
article[data-theme="black-white"] .clock {
    background: url("../imgs/black-white.jpg") center no-repeat;
    background-size: cover;
    box-shadow: inset 5px 5px 10px rgb(0 0 0 / 17%), 5px 5px 20px rgb(0 0 0 / 24%);
}

article[data-theme="black-white"] .clock::before {
    background-color: transparent;
}

article[data-theme="black-white"] .clock::after {
    content: "Point at me!";
    position: absolute;
    color: #909090;
    bottom: -40px;
}

article[data-theme="black-white"] .clock .hr::before,
article[data-theme="black-white"] .clock .min::before,
article[data-theme="black-white"] .clock .sec::before {
    background-color: #ffffff;
}

article[data-theme="black-white"] .clock:hover {
    filter: invert();
}


/*
    Cartoon
*/
article[data-theme="kids"] .clock {
    background: url("../imgs/kids.png") center no-repeat;
    background-size: cover;
    box-shadow: inset 5px 5px 10px rgb(0 0 0 / 17%), 5px 5px 20px rgb(0 0 0 / 24%);
}

article[data-theme="black-white"] .clock::before {
    background-color: transparent;
}

article[data-theme="black-white"] .clock .hr::before,
article[data-theme="black-white"] .clock .min::before,
article[data-theme="black-white"] .clock .sec::before {
    background-color: #ffffff;
}

article[data-theme="black-white"] .clock:hover {
    filter: invert();
}



/*
    Alarm
*/
article[data-theme="alarm"] .clock {
    background: url("../imgs/alarm.png") center no-repeat;
    background-size: cover;
    height: 350px;
    overflow: visible;
    border-radius: 0;
    box-shadow: none;
}

article[data-theme="alarm"] .clock:before {
    top: 57.5%;
    transform: translateX(1px);
}
article[data-theme="alarm"] .clock .hr,
article[data-theme="alarm"] .clock .min,
article[data-theme="alarm"] .clock .sec {
    top: 44%;
    transform: translateX(4px);
}
article[data-theme="alarm"] .clock .hr::before,
article[data-theme="alarm"] .clock .min::before {
    background-color: rgb(0, 0, 0);
}

/* 3D
*/

article[data-theme="3-D"] .clock {
    background: url("https://images.unsplash.com/photo-1601662528567-526cd06f6582?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=3358&q=80") center no-repeat;
    border: 3vmin solid #000;
    border-radius: 50%;
    box-shadow: 
        inset 40px 40px 90px rgba(0,0,0,.2),
        inset 10px 10px 30px rgba(0,0,0,.5), 
        20px 20px 30px rgba(0,0,0,.4),
        40px 40px 60px rgba(0,0,0,.4);
}

article[data-theme="3-D"] .clock .hr::before,
article[data-theme="3-D"] .clock .min::before {
    background-color: rgb(0, 0, 0);
}


/* Marble */

article[data-theme="marble"] .clock {

    background: url("https://images.unsplash.com/photo-1551554781-c46200ea959d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80") center no-repeat;
    background-size: cover;
    border: 1px solid rgba(0, 0, 0, 0.395);
}

article[data-theme="marble"] .clock .hr:before,
article[data-theme="marble"] .clock .min:before {
    background-color: #000;
}

article[data-theme="marble"] .clock:before,
article[data-theme="marble"] .clock .hr:before,
article[data-theme="marble"] .clock .min:before,
article[data-theme="marble"] .clock .sec:before {
    background-color: rgba(0, 0, 0, 0.76);
    box-shadow: 3px 3px 6px rgba(61, 59, 61, 0.534);

}




/* 
    Pizza 
*/
article[data-theme="pizza"] .clock {

    background: url("../imgs/pizza.png") center no-repeat;
    background-size: cover;
    opacity: 0.9;
    border: 1px solid rgba(0, 0, 0, 0.395);
}

article[data-theme="pizza"] .clock .hr:before,
article[data-theme="pizza"] .clock .min:before {
    background-color: rgb(0, 0, 0);
}

article[data-theme="pizza"] .clock:before,
article[data-theme="pizza"] .clock .hr:before,
article[data-theme="pizza"] .clock .min:before,
article[data-theme="pizza"] .clock .sec:before {
    background-color: rgb(0, 0, 0);
    box-shadow: 3px 3px 6px rgba(176, 16, 188, 0.534);

}



/* Orange */

article[data-theme="orange"] .clock {

    background: url("../imgs/sliced-fresh-orange-background-vector.png") center no-repeat;
    background-size: cover;
    border: 1px solid rgba(0, 0, 0, 0.395);
}

article[data-theme="orange"] .clock .hr:before,
article[data-theme="orange"] .clock .min:before {
    background-color: rgb(225, 222, 222);
}

article[data-theme="orange"] .clock:before,
article[data-theme="orange"] .clock .hr::before,
article[data-theme="orange"] .clock .min::before,
article[data-theme="orange"] .clock .sec::before {
    background-color: #000000ac;
}

/* Wall clock */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock {
  height: 20vh;
  color: white;
  font-size: 22vh;
  font-family: sans-serif;
  line-height: 20.4vh;
  display: flex;
  position: relative;
  /*background: green;*/
  overflow: hidden;
}

.clock::before, .clock::after {
  content: '';
  width: 7ch;
  height: 3vh;
  background: linear-gradient(to top, transparent, black);
  position: absolute;
  z-index: 2;
}

.clock::after {
  bottom: 0;
  background: linear-gradient(to bottom, transparent, black);
}

.clock > div {
  display: flex;
}

.tick {
  line-height: 17vh;
}

.tick-hidden {
  opacity: 0;
}

.move {
  animation: move linear 1s infinite;
}

@keyframes move {
  from {
    transform: translateY(0vh);
  }
  to {
    transform: translateY(-20vh);
  }
}


