/* 
    Glasmorphism
*/

article[data-theme="glassmorphism"] {
    position: relative;
    overflow: hidden;
}
article[data-theme="glassmorphism"] .clock {
    background:#ffffff6c url("../imgs/roman.png") no-repeat right top;
    background-size: cover;
    box-shadow: 10px 20px 40px rgba(0, 0, 0, 0.162);
    border: none;
    backdrop-filter: blur(2px);
    z-index: 100;
}
article[data-theme="glassmorphism"]:before,
article[data-theme="glassmorphism"]:after {
    content: "";
    position: absolute;
    transform: translate(-100px, -100px);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: linear-gradient(45deg, rgb(255, 25, 0), rgb(255, 221, 0));
    animation: 4s move1 linear infinite;
}
article[data-theme="glassmorphism"]:after {
    background: linear-gradient(45deg, rgb(234, 0, 113), rgb(47, 0, 255));
    transform: translate(150px, 0px);
    animation: 6s move2 ease-in infinite;
}

@keyframes move1 {
    0% {
        transform: translate(-100px, -100px);
    }
    50% {
        transform: translate(-100px, -150px);
    }
    100% {
        transform: translate(-100px, -100px);
    }
}
@keyframes move2 {
    0% {
        transform: translate(150px, 0);
    }
    50% {
        transform: translate(100px, 0px);
    }
    100% {
        transform: translate(150px, 0px);
    }
}





/*
    Vintage
*/

article[data-theme="vintage"] .clock {
    border: 10px solid #381914;
    background:  url("../imgs/roman-gold.png") left top no-repeat, url("../imgs/vintage.jpg") right bottom no-repeat;
    background-size: cover;
    box-shadow: 5px 5px 20px rgba(10, 10, 10, 0.307);
}
article[data-theme="vintage"] .clock .hr:before,
article[data-theme="vintage"] .clock .min:before {
    background-color: yellow;
}



/*
    Futuristic
*/

article[data-theme="futuristic"] .clock {
    border: 10px solid #231e31;
    background:  url("../imgs/roman-dark.png") left top no-repeat, url("../imgs/futuristic.webp") right bottom no-repeat;
    background-size: cover;
}
article[data-theme="futuristic"] .clock .hr:before,
article[data-theme="futuristic"] .clock .min:before {
    background-color: rgba(255, 255, 255, 0.981);
}


/*
    Abstract
*/

article[data-theme="abstract"] .clock {
    border: 10px solid #4a0707;
    background:  url("../imgs/roman-dark.png") left top no-repeat, url("../imgs/abstract.webp") right bottom no-repeat;
    background-size: cover;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.285);
}
article[data-theme="abstract"] .clock .hr:before,
article[data-theme="abstract"] .clock .min:before {
    background-color: rgba(255, 255, 255, 0.981);
}



/*
    Wooden
*/

article[data-theme="wooden"] .clock {
    background:  url("../imgs/roman-gold.png") left top no-repeat, url("../imgs/wood.webp") right bottom no-repeat;
    background-size: cover;
    border: 10px solid rgb(74, 37, 12);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.285);
}
article[data-theme="wooden"] .clock .hr:before,
article[data-theme="wooden"] .clock .min:before {
    background-color: rgba(255, 255, 255, 0.981);
}



/*
    Minimalist
*/

article[data-theme="minimalist"] .clock {
    background:  #fff;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.098);
}
article[data-theme="minimalist"] .clock .hr:before,
article[data-theme="minimalist"] .clock .min:before {
    background-color: #000;
}




/*
    Neon
*/

article[data-theme="neon"] .clock {
    background: url("../imgs/roman-neon.png") left top no-repeat;
    background-size: cover;
    border: 10px solid rgba(255, 0, 242, 0.395);
    box-shadow: 5px 5px 50px rgba(188, 4, 255, 0.285);
}
article[data-theme="neon"] .clock .hr:before,
article[data-theme="neon"] .clock .min:before {
    background-color: #000;
}
article[data-theme="neon"] .clock:before,
article[data-theme="neon"] .clock .hr:before,
article[data-theme="neon"] .clock .min:before,
article[data-theme="neon"] .clock .sec:before {
    background-color: rgb(255, 8, 239);
    box-shadow: 3px 3px 6px rgba(188, 4, 255, 0.534);
}




/* 
    ENDLESS 
*/

article[data-theme="endless"] .clock {
    border: 10px solid #231e31;
    background:  url("../imgs/enless.webp") bottom no-repeat ;
    background-size: cover;
}
article[data-theme="endless"] .clock .hr:before,
article[data-theme="endless"] .clock .min:before {
    background-color: rgba(255, 255, 255, 0.981);
}





/* 
    Electric
 */

 article[data-theme="electric"] .clock {
    border: 10px solid #231e31;
    background:  url("../imgs/roman-dark.png") left top no-repeat, url("../imgs/electric.webp") right bottom no-repeat ;
    background-size: cover;
}
article[data-theme="electric"] .clock .hr:before,
article[data-theme="electric"] .clock .min:before {
    background-color: rgba(255, 255, 255, 0.981);
    
}



/*
    THOR
*/

article[data-theme="thor"] .clock {
    border: 10px solid #231e31;
    background:  url("../imgs/thor.webp") left top no-repeat;
    background-size: cover;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.285);
}
article[data-theme="thor"] .clock .hr:before,
article[data-theme="thor"] .clock .min:before {
    background-color: rgba(255, 255, 255, 0.981);
}




/* 
    doughnut 
*/
article[data-theme="doughnut"] .clock {
    
    background:  url("../imgs/doughnut.png") center no-repeat ;
    background-size:cover;
    border: 1px solid rgba(0, 0, 0, 0.395);
}

article[data-theme="doughnut"] .clock .hr:before,
article[data-theme="doughnut"] .clock .min:before {
    background-color: #000;
}
article[data-theme="doughnut"] .clock:before,
article[data-theme="doughnut"] .clock .hr:before,
article[data-theme="doughnut"] .clock .min:before,
article[data-theme="doughnut"] .clock .sec:before {
    background-color: rgb(255, 115, 8);
    box-shadow: 3px 3px 6px rgba(188, 4, 255, 0.534);
}

/*
    Black'n'White
*/
article[data-theme="black-white"] .clock {
    background: url("../imgs/black-white.jpg") center no-repeat;
    background-size: cover;
    box-shadow: inset 5px 5px 10px rgb(0 0 0 / 17%), 5px 5px 20px rgb(0 0 0 / 24%);
}

article[data-theme="black-white"] .clock::before {
    background-color: transparent;
}

article[data-theme="black-white"] .clock::after {
    content: "Point at me!";
    position: absolute;
    color: #666666;
    bottom: -40px;
}

article[data-theme="black-white"] .clock .hr::before,
article[data-theme="black-white"] .clock .min::before,
article[data-theme="black-white"] .clock .sec::before {
    background-color: #ffffff;
}

article[data-theme="black-white"] .clock:hover {
    filter: invert();
}
